:root {
    --primary-color: #011627;
    --secondary-color: #4DA1A9;
    --accent-color-1: #A7E2E3;
    --accent-color-2: #EEE5E9;
    --heading-font: 'Sour Gummy';
    --text-font: 'Nunito';
}
body {
    width: 60%;
}

article {
    background-color: var(--accent-color-2);
    opacity: 0.8;
    position: relative;
    margin: 2em;
    padding: 1em;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin: 1em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--text-font);
    color: var(--primary-color);
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 150px;
    margin-right: 150px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

header nav a {
    text-decoration: none;
}

.header img {
    width: 4em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
footer nav a{
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    position: absolute;
    margin-bottom: 2em;
}
.hero h1 {
    position: relative;
    color: var(--accent-color-1)
}
.hero article img {
    float: right;
    width: 180px;
    height: auto;
    clear: both;
    margin: 20px;
    position: relative;
}
section {
    margin-top: 3rem;
}
#history {
    display: flex;
    flex-direction: column;
}
#history h2 {
    align-self: center;
}
#gallery {
    display: grid;
    grid-template-columns: auto;
}
.adventure-heading {
    grid-column: 1/4;
    justify-self: center;
}
.kayak-land {
    grid-column: 1/2;
    grid-row:2/3;
}
.canyon {
    grid-column: 2/3;
    grid-row:2/3;
}
.group-raft {
    grid-column: 3/4;
    grid-row:2/3;
}
.individual-kayak {
    grid-column: 1/2;
    grid-row:3/4;
}
.land-kayak {
    grid-column: 2/3;
    grid-row:3/4;
}
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.center {
    justify-content: center;
    align-items: center;
    justify-self: center;
}
#purpose {
    padding: 5px;
}
.profile img {
    width: 200px;
    padding: 10px;
}
.form {
    margin-top: 30px;
    margin-bottom: 30px;
}

input, textarea, select {
    width: 60%;
}
iframe {
    border: 0;
}
.map {    
    display: flex;
    justify-content: center;
}
button {
    background-color: blue;
    color: #EEE5E9;
    width: 100px;
    padding: 7px;
    border-radius: 5px;
    border: #A7E2E3;
}
button:hover {
    background-color: #6F8FAF;
}
.no-wrap {
    flex-wrap: nowrap;
}
label {
    margin-right: 30px;
}
.checkbox {
    width: 25px;
}
.banner {
    margin: 30px;
}
.pic-frame {
    border: 4px solid goldenrod;
    margin: 10px;
    padding: 2px;
}
.fa {
    font-size: 2em;
    color: var(--secondary-color);
}
.frame-label {
    font-family: var(--heading-font);
    font-weight: 400
}
.info {
    background-color: var(--primary-color);
    position: relative;
    min-width: 400px;
    height: 250px;
    left: 20px;
    bottom: 25px;
    z-index: 20;
    border-radius: 10px;
}
.pitch {
    background-color: var(--secondary-color);
    padding: 40px;
}
.image-1 {
    z-index: 0;
    position: relative;
    float: right;
    left: -150px;
    bottom: -20px;
}
.white-text {
    color: #fff;
    margin: 1.2em;
}

.center-self {
    align-self: center;
}

.action {
    display: flex;
    justify-self: center;
}
.call {    
    text-decoration: none;
}
.image-div {
    height: 200px;
    width: 50%;
}
.image-div img {
    width: 70%;
}
.trip-text {
    height: 200px;
    width: 50%;
    margin-top: 5px;
    margin-left: 10px;
}
.no-block-start {
    margin-block-start: -10px;
}
.trip-info {
    justify-content: center;
}
.float-right {
    float: right;
    justify-content: end;
    margin-right: 15px;

}
.packages {
    width: 80%;
}
.button {
    text-decoration: none;
    background-color: var(--secondary-color);
    margin: 5px;
    padding: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    justify-self: center;
    color: white;
    border-radius: 4px;
}

.button:hover {
    background-color: var(--accent-color-1);
    color: var(--primary-color);
}

.no-flex {
    display: flex;
    flex-direction: column;
}