:root {
    --alignment: center;
    --line-type: solid;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px var(--line-type) black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1px;
    border: 1px var(--line-type) rgba(0,0,0,0.2);
    padding: 1rem;
    background-color: bisque;
    color: blue;
    text-align: var(--alignment);
}
aside p {
    text-align: justify;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px var(--line-type) #000;
    text-align: var(--alignment);
}